<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("./common/navbar-main") %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>test</p>
  </body>
</html>
