<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>  
    <%- include("./common/header")%>
  </head>

  <body>
    <!--Add NavBar-->
    <%- include("./common/navbar-main.ejs")%>

    <!-- Showcase -->
    <section class="showcase" id="home">
      <div class="container grid">
        <div class="showcase-text">
          <h1>What We Do</h1>
          <p>
            Hoof Hearted Stables offers horse lodging and care. Our rates are
            250/month for pasture horses, and 300/month for stabled horses. This
            includes the cost of grain and hay. All horses are groomed weekly
            and exercise in our ten-acre fields daily.
          </p>
          <a href="#about" class="btn btn-outline">Read More</a>
        </div>

        <div class="showcase-form card">
          <h2>Create Account</h2>
            <form action="/api/signup" method="POST">
              <div class="form-control">
                <input type="text" name="firstname" placeholder="First Name" required>
              </div>
              <div class="form-control">
                <input type="text" name="lastname" placeholder="Last Name" required>
              </div>
              <div class="form-control">
                <input type="email" name="email" placeholder="Email" required>
              </div>
              <div class="form-control">
                <input type="phone" name="phone" placeholder="Phone" required>
              </div>
              <div class="form-control">
                <input type="password" name="password" placeholder="Password" required>
              </div>
              <div class="form-control">
                <input type="password" name="confirmpassword" placeholder="Confirm Password" required>
              </div>
              <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
      </div>
    </section>

    <!--Services Page-->
    <section class="info">
      <div class="container">
          <h3 class="info-heading text-center my-1">
              Horse Lodging and Care
          </h3>

          <div class="grid grid-3 text-center my-4">
              <div>
                  <i class="fas fa-horse-head fa-3x"></i>
                  <h3>Care</h3>
                  <p class="text-secondary">All horses groomed weekly and exercise in fields daily</p>
              </div>
              <div>
                  <i class="fas fa-calendar-alt fa-3x"></i>
                  <h3>Costs</h3>
                  <p class="text-secondary">$250/month - pasture horses</p>
                  <p class="text-secondary">$300/month - stabled horses</p>
              </div>
              <div>
                  <i class="fas fa-seedling fa-3x"></i>
                  <h3>Extra</h3>
                  <p class="text-secondary">Monthly costs include cost of grain and hay</p>
              </div>
          </div>
      </div>
    </section>
    
    <section class="showcase" id="services">
      <div class="anchor_offset services">
        <h1>Services</h1>
        <p>Horse Lodging and Care</p>
        <p>All horses are groomed weekly and exercise in fields daily</p>
        <p>$250/month for pasture horses</p>
        <p>$300/month for stabled horses</p>
        <p>(Monthly costs include cost of grain and hay)</p>
        <p>$70/hour for horse riding lessons</p>
        <p>$100/hour to break horse and keep it trained (Boarding fees not included)</p>
      </div>
    </section>

    <!--About Page-->
    <section class="showcase" id="about">
      <div class="anchor_offset about">
        <h1>About</h1>
        <img src="/images/Hoof_Hearted_Stables.png" height= "100px" alt="Hoof Hearted Stables logo">
        <p>
          Hoof Hearted Stables offers horse lodging and care. Our rates are
          250/month for pasture horses, and 300/month for stabled horses. This
          includes the cost of grain and hay. All horses are groomed weekly
          and exercise in our ten-acre fields daily. Horse riding lessons are also offered. The trainer has been riding since the age of 3-4 and has had experience training 4-5 horses for riding.
        </p>
      </div>
    </section>

    <!--Contact Page-->
    <section class="showcase" id="contact">
      <div class="anchor_offset contact">
        <h1>Contact</h1>
        <p>Number: 870-404-2232</p>
        <p>Email: hoofheartedstables@gmail.com</p>
      </div>
    </section>
  </body>
</html>
