<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include("./common/header")%>
  </head>
  <body>
    <%- include("./common/navbar-main") %>
    
    <div class="showcase-form card" style="margin: 0 auto; height: 350px">
      <h1 style="text-align: center">Login</h1>
      <p style="text-align: center">Sign in to an existing account</p>
      <p id="InvalidCreds" style="display: none; color: brown; text-align: center;">Invalid Credentials</p>
      <form action="/api/login" method="POST">
        <div class="form-control">
          <input type="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-control">
          <input type="password" name="password" placeholder="Password" required>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </body>
</html>
<script>
  $("#"+getUrlVars().errType).show();
</script>