@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #a2cdff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, 
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Showcase */
.showcase {
    height: 75vh;
    background-color: var(--primary-color);
    color: #fff;
    scroll-margin-top: inherit;
}

.showcase h1 {
    font-size: 40px;
    margin: 0;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-form {
    height: 100%;
    width: 400px;
    justify-self: flex-end;
    padding: 40px;
    position: relative;
    top: 60px;  
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'],
.showcase-form input[type='phone'],
.showcase-form input[type='password'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

/* Navbar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navlist li {
    display: inline-block;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar a.active {
    border-bottom: 2px #fff solid;
}

.logo {
    color: honeydew;
}

.navbar .menuIcon{
    display: none;
}

/* Mobile Navbar */
@media all and (max-width: 1024px) {
    .navbar{
        flex-direction: column;
    }

    .navbar .menuIcon{
        display: block;
        position: absolute;
        right: 15px;
        top: 5px;
        font-size: 30px;
        cursor: pointer;
    }

    .navlist{
        width: 100%;
        text-align: center;
        padding-top: 5px;
        display: none;
    }

    .navlist li{
        display: block;
        padding: 10px 10px;
        border-top: 1px solid #fff;
    }

    .navbar h1{
        width: 100%;
        padding-left: 10px;
    }

    .show{
        display: block;
    }

    .hide{
        display: none;
    }
}

@media all and (max-width: 414px) {
    .navbar h1{
        font-size: 20px;
    }

    .navbar .menuIcon{
        font-size: 20px;
        top: 7px;
    }
}

/* Services Info */
.info {
    color:var(--primary-color);
    padding-top: 10px;
    animation: slideInFromBottom 1s ease-in;
}

.info-heading {
    max-width: 500px;
    padding-bottom: 20px;
    margin: auto;
}

.info .grid {
    gap: 50px;
}

.info .grid h3 {
    font-size: 35px;
}

.info .grid p {
    font-size: 20px;
}
  

/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px #fff solid;
}

.btn:hover {
    transform: scale(0.98);
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 200px;
    justify-content: center;
    align-items: center;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.anchor_offset::before {
    display: block;
    content: ' ';
    height: 70px; 
    margin-top: 0;
    width: 100%;
    visibility: hidden;
}