<!--Nav Bar-->
<div class="navbar">
    <div class="container flex">
        <h1 class="logo">Hoof Hearted Stable</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/signup">SignUp</a></li>
                <li><a href="/login">LogIn</a></li>
            </ul>
        </nav>
    </div>
</div>

<style>
    /* Navbar */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}
</style>