<!--Nav Bar-->
<div class="navbar" id="navbar">
    <h1 class="logo">Hoof Hearted Stable</h1>
    <ul class="navlist" id="navlist">
        <li><a href="/" class="menu">Home</a></li>
        <li><a href="/secret/booking" class="menu">Bookings</a></li>
        <li><a href="/secret/contact" class="menu">Contact</a></li>
        <li><a href="/rm-session" class="menu">LogOut</a></li>
    </ul>
    <span class="menuIcon" id="toggleBtn"><a>
            <i class="fa fa-bars"></i>
        </a> </span>
</div>