<!--Nav Bar-->
<div class="navbar" id="navbar">
    <h1 class="logo">Hoof Hearted Stables</h1>
    <ul class="navlist" id="navlist">
        <li><a href="/" class="menu" id="menu" data-scroll="home">Home</a></li>
        <li><a href="/#about" class="menu" id="menu" data-scroll="about">About</a></li>
        <li><a href="/#services" class="menu" id="menu" data-scroll="services">Services</a></li>
        <li><a href="/#contact" class="menu" id="menu" data-scroll="contact">Contact</a></li>
        <li><a href="/signup" class="menu" id="menu">SignUp</a></li>
        <li><a href="/login" class="menu" id="menu">LogIn</a></li>
    </ul>

    <span class="menuIcon" id="toggleBtn"><a>
            <i class="fa fa-bars"></i>
        </a> </span>
</div>

<!--Mobile Nav Bar-->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left" style="display:none"
    id="mySidebar">
    <a href="javascript:void(0)" class="menu w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <a href="/" class="menu w3-bar-item w3-button">HOME</a>
    <a href="#about" class="menu w3-bar-item w3-button">ABOUT</a>
    <a href="#services" class="menu w3-bar-item w3-button">SERVICES</a>
    <a href="#contact" class="menu w3-bar-item w3-button">CONTACT</a>
    <a href="/signup" class="menu w3-bar-item w3-button">SIGNUP</a>
    <a href="/login" class="menu w3-bar-item w3-button">LOGIN</a>
</nav>