<!--Nav Bar-->
<div class="navbar" id="navbar">
    <div class="container flex">
        <h1 class="logo">Hoof Hearted Stable</h1>
        <nav>
            <ul>
                <li><a href="/customer/home" class="menu">Home</a></li>
                <li><a href="/customer/book" class="menu">Book</a></li>
                <li><a href="/customer/contact" class="menu">Contact</a></li>
                <li><a href="/rm-session" class="menu">LogOut</a></li>
            </ul>
        </nav>
    </div>
</div>