<!--Nav Bar-->
<div class="navbar" id="navbar">
    <h1 class="logo"><a href="/">Hoof Hearted Stables</a></h1>
    <ul class="navlist" id="navlist">
        <li><a href="/" class="menu"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/secret/RidingReserve" class="menu">Riding</a></li>
        <li><a href="/secret/TrainingReserve" class="menu">Training</a></li>
        <li><a href="/secret/LodingReserve" class="menu">Lodging</a></li>
        <li><a href="/secret/feedback" class="menu">Feedbacks</a></li>
        <li><a href="/rm-session" class="menu">Log Out</a></li>
    </ul>
    <span class="menuIcon" id="toggleBtn"><a>
            <i class="fa fa-bars"></i>
        </a> </span>
</div>

<!--Mobile Nav Bar-->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" class="menu w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <a href="/" class="menu w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
    <a href="/secret/RidingReserve" class="menu w3-bar-item w3-button"><i class="fa fa-horse-head"></i> Riding</a>
    <a href="/secret/TrainingReserve" class="menu w3-bar-item w3-button"><i class="fa fa-calendar-alt"></i> Training</a>
    <a href="/secret/LodingReserve" class="menu w3-bar-item w3-button"><i class="fa fa-user-plus"></i> Lodging</a>
    <a href="/secret/feedback" class="menu w3-bar-item w3-button"><i class="fa fa-sign-out-alt"></i> Feedbacks</a>
    <a href="/rm-session" class="menu w3-bar-item w3-button"><i class="fa fa-sign-out-alt"></i> Logout</a>
</nav>